[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 11.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 11.0
